{% extends "outer.html" %}

{% block title %}{{banner}} - Categories{% endblock %}

{% block mainframe %}

    <!-- Page Content -->
    <div class="container">

       <div class="row">
            <div class="col-md-4">
                <h1>{{categoryName}}</h1>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <div class="your-clock"></div>
            </div>
        </div>
    </div>
        
    </div>
    
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-8">
                <h1>Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>


        <!-- Content Row -->
        <div class="row">
            <div class="col-md-12">
                <h2>Heading 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            </div
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/categories.js') }}"></script>

{% endblock %}