{% extends "outer.html" %}

{% block title %}{{banner}} - Categories{% endblock %}

{% block mainframe %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Categories
                    <small>(Yaniv Smells)</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-BZzBcxVxGWM/V-rfdSxX5WI/AAAAAAAAC5g/8ObTWxMM7tsCIQIIlSk3ivd-nR1zqgTtwCL0B/h563/IconImageTest1.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-07nMRyA3Xg8/V-rffSDiiZI/AAAAAAAAC5g/xZLRHA-HZug8RYGhPPhiH5JNDOKukIC0gCL0B/h563/IconImageTest2.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-qZtv20TWdNI/V-rFjR6FrCI/AAAAAAAAC00/0krJtFJ1vToQY4r4cd0tfikVTp7_NTf4gCL0B/h563/TheIcon2.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-mWKYbRlBnTA/V-rIulCl1QI/AAAAAAAAC28/7dqBB9w1mWUSc3Qu1t6nt80b-XvqKXpRgCL0B/h563/TheIcon6.png" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-hAjljLl8lmU/V-rFShL5loI/AAAAAAAAC00/RSQ0GcfWmcA41HJoKX76Nm0tft7K42oqQCL0B/h563/TheIcon1.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-BZzBcxVxGWM/V-rfdSxX5WI/AAAAAAAAC5g/8ObTWxMM7tsCIQIIlSk3ivd-nR1zqgTtwCL0B/h563/IconImageTest1.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-07nMRyA3Xg8/V-rffSDiiZI/AAAAAAAAC5g/xZLRHA-HZug8RYGhPPhiH5JNDOKukIC0gCL0B/h563/IconImageTest2.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-qZtv20TWdNI/V-rFjR6FrCI/AAAAAAAAC00/0krJtFJ1vToQY4r4cd0tfikVTp7_NTf4gCL0B/h563/TheIcon2.png" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-mWKYbRlBnTA/V-rIulCl1QI/AAAAAAAAC28/7dqBB9w1mWUSc3Qu1t6nt80b-XvqKXpRgCL0B/h563/TheIcon6.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-hAjljLl8lmU/V-rFShL5loI/AAAAAAAAC00/RSQ0GcfWmcA41HJoKX76Nm0tft7K42oqQCL0B/h563/TheIcon1.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-BZzBcxVxGWM/V-rfdSxX5WI/AAAAAAAAC5g/8ObTWxMM7tsCIQIIlSk3ivd-nR1zqgTtwCL0B/h563/IconImageTest1.png" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}